@import "./scss/tipography";
@import "./scss/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

@mixin flexBox($justify-content, $align-items, $flex-direction, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

body {
    background-color: $bg-color;
    color: $primary-color;
    font-size: 1rem;
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    z-index: 10;

    .header-container {
        @include flexBox(space-between, center, row, wrap);

        width: 100%;
        max-width: 1120px;
        padding: 10px 0;

        picture {
            width: 100px;
            height: 100px;
            background: $text-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 60%;
                }
            }
        }

        .menu-top {
            ul {
                @include flexBox(center, center, row, wrap);

                list-style: none;
                gap: 1.25rem;

                li {
                    a {
                        padding: 10px 20px;
                        text-decoration: none;
                        color: $text-color;
                        font-size: 1.1rem;
                        opacity: 0.8;
                        transition: 0.2s ease;

                        &:hover {
                            color: $third-color;
                        }
                    }
                }
            }

            .menu-mobile {
                display: none;
            }
        }
    }
}

section {
    max-width: 1120px;
    min-width: 319px;
}

.hero {
    background: url(../image/foto01.jpg) no-repeat center/cover fixed #000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
        content: "";
        background-color: rgba($color: #000000, $alpha: 0.6);
        width: 100%;
        min-height: 100%;
        position: absolute;
    }

    .hero-container {
        @include flexBox(space-around, center, column, wrap);
        z-index: 2;
        width: 100%;
        max-width: 1120px;

        padding-top: 4rem;

        .hero-content {
            width: 100%;

            p {
                font-size: 3rem;
                color: rgba($color: $text-color, $alpha: 0.75);
                margin-top: 2rem;

                span {
                    font-weight: 700;
                    font-size: 4rem;
                    color: $text-color;
                }
            }
        }

        .highlights {
            width: 100%;

            ul {
                @include flexBox(center, center, row, wrap);

                gap: 4rem;
                margin: 40px 0;

                li {
                    @include flexBox(center, center, row, nowrap);
                    width: 310px;
                    height: 180px;
                    overflow: hidden;
                    border-radius: 125px;
                    border: 4px solid $secondary-color;

                    img {
                        width: 310px;
                    }
                }
            }
        }
    }
}

main {
    max-width: 1120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    h1 {
        font-size: 2.2rem;
        padding: 2rem 0;
        color: $primary-color;
    }

    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            @include flexBox(center, center, row, wrap);
            gap: 1rem;

            img {
                width: 100%;
                max-width: 539px;
                border-radius: 0.5rem;
                margin: 2rem 0 0.5rem;
            }

            p {
                max-width: 539px;
                width: 100%;
            }

            &:nth-of-type(1) {
                flex-direction: row-reverse;
            }
        }
    }

    #services {
        // @include flexBox(center, center, column, wrap);

        color: $text-color;
        width: 100%;

        .services-container {
            @include flexBox(center, center, row, wrap);

            gap: 4rem;
            width: 100%;

            .service {
                width: 100%;
                max-width: 516px;
                height: 327px;
                position: relative;
                overflow: hidden;
                border-radius: 0.5rem;

                &::after {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    content: "";
                    background-color: rgba($color: #000000, $alpha: 0.6);
                }

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                span {
                    position: absolute;
                    padding: 0.8rem;
                    bottom: 0;
                    z-index: 2;
                    color: $text-color;

                    h3 {
                        margin-bottom: 0.4rem;
                    }

                    p {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    #contact {
        @include flexBox(center, center, row, wrap);

        width: 100%;
        border-radius: 8px;
        background-color: $secondary-color;
        margin-top: 4rem;
        padding-right: 1.5rem;
        gap: 2rem;

        .map {
            background: url(../image/map.png) no-repeat center/cover;
            height: 550px;
            position: relative;
            overflow: hidden;
            border-radius: 0.5rem;
            flex: 2;
            min-width: 319px;

            .header-map {
                width: 659px;
                height: 659px;
                background-color: $primary-color;
                position: absolute;
                border-radius: 50%;
                top: -400px;
                left: -250px;

                .text-header-map {
                    position: absolute;
                    top: 60%;
                    left: 45%;

                    h1,
                    address {
                        color: $text-color;
                        width: 65%;
                        line-height: 1rem;
                        margin-top: 20px;
                        letter-spacing: 0.1rem;
                    }
                }

                .social-medias {
                    @include flexBox(center, flex-start, row, wrap);

                    width: 420px;
                    height: 120px;
                    background: $third-color;
                    bottom: 0;

                    ul {
                        @include flexBox(space-between, flex-start, row, wrap);

                        width: 200px;
                        z-index: 3;
                        list-style: none;
                        left: -30px;
                        // bottom: 0;

                        li {
                            cursor: pointer;

                            img {
                                width: 48px;
                                height: 48px;
                                bottom: 50px;
                                transition: 0.2s ease;

                                &:hover {
                                    filter: drop-shadow(0 0 4px $text-color);
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }

        .contact-form {
            flex: 1;
            min-width: 319px;

            form {
                @include flexBox(flex-start, flex-end, column, wrap);

                label {
                    width: 100%;
                    margin-bottom: 0.6rem;
                    font-size: 1.1rem;
                    color: $text-color;

                    input,
                    textarea {
                        width: 100%;
                        margin-top: 0.3rem;
                        font-size: 1.1rem;
                        padding: 0.6rem;
                        border-radius: 0.4rem;
                        border: none;
                        outline: none;

                        &:focus {
                            border: 2px solid $third-color;
                        }
                    }

                    input {
                        height: 45px;
                    }

                    textarea {
                        resize: none;
                        height: 150px;
                    }
                }

                input {
                    &[type="submit"] {
                        padding: 0.4rem 2rem;
                        font-size: 1.1rem;
                        color: $text-color;
                        background-color: $primary-color;
                        border-radius: 0.4rem;
                        border: none;
                        cursor: pointer;
                        line-height: 45px;
                        border: 2px solid currentColor;
                        margin-top: 0.3rem;
                    }
                }
            }
        }
    }

    footer {
        @include flexBox(space-around, center, row, wrap);

        width: 100%;
        padding: 2rem 0;
        font-size: 1.1rem;

        p {
            display: flex;
            align-items: center;
            span {
                margin-right: 0.4rem;
            }
        }
    }
}

@import "./scss/responsividade";
